# "Spill" Excel contents into various data formats

In [1]:
!ls ../dummy-data/

csvs                              jsons.zip
csvs.zip                          milk-prod-data-mart-reqs-1.5.xlsx
jsons

In [2]:
import pandas as pd

In [3]:
[sheet for sheet in pd.ExcelFile('../dummy-data/milk-prod-data-mart-reqs-1.5.xlsx').sheet_names]

['Read Me',
 'data-dictionary',
 'QtrNatWdYrsPrsntLst',
 'QtrNatLngYrsPrsntLst',
 'Mo24stWdYrsPrsntLst',
 'Mo24stLngYrsPrsntLst',
 'MoNtnlWdYrsPrsntLst',
 'MoNtnlLngYrsPrsntLst',
 '24stRprt-moWdYrsPrsntLst',
 '24stRprt-lstmoWdYrsPrsntLst',
 '24stRprtMnthsLngYrsPrsntLst',
 'metadata']

In [23]:
# prep the excel file for pandas
xl = pd.ExcelFile('../dummy-data/milk-prod-data-mart-reqs-1.5.xlsx')
# save relevant sheets out to disk
for sheet in xl.sheet_names:
    if sheet not in ('Read Me'):
        # read the sheet into a df  
        df = xl.parse(sheet)
        # write it to csv and json
        df.to_csv('../dummy-data/csvs/' + sheet + '.csv', index = False)
        df.to_json('../dummy-data/jsons/' + sheet + '.json')

**zip the directories**

In [30]:
import shutil
for my_folder in ['csvs', 'jsons']:
    shutil.make_archive("../dummy-data/"+my_folder, 'zip', "../dummy-data/"+my_folder+"/")

# tinkering

**save the links as text files**

In [11]:
big_string = '''- data-dictionary
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=853696630
- Quarterly National Tidy-Wide [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=311186345
- Quarterly National Tidy-Long [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=119760846
- Monthly [24] States Tidy-Wide [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=1904881237
- Monthly [24] States Tidy-Long [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=389230414
- Monthly National Tidy-Wide [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=2641315
- Monthly National Tidy-Long [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=175528314
- [24] States [report-month] Tidy-Wide [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=1499605373
- [24] States [report-month - 1] Tidy-Wide [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=252676891
- [24] States [report-month] - [report-month - 1] Tidy-Long [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=1544738826
- metadata
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=591680666'''

In [22]:

for i, element in enumerate(big_string.split("\n")):
    # if even, it's a key, so drop the "- " from the beginning
    if i%2 == 0:
        fname = re.sub(" ", "_", element[2:])
        #print(i, fname)
    # otherwise it's a link, so drop the "\t- " from it
    else:
        link = element[6:]
        #print(i,link)
        
        # now we can write it out
        with open("../dummy-data/google-sheets/"+fname, "w") as out_file:
            out_file.write(link)

# Dummy Data:
## For your convenience, each item contains the same data in different file types
- **milk-prod-data-mart-reqs-1.5.xlsx**
    - contains the tidy data tables (in both wide and long formats) for the [month]-milk-production report as a single excel file where each table is its own excel-sheet.
- **csvs/** 
    - contains the tidy data tables in both wide and long formats for the [month]-milk-production report
- **jsons/**
    - contains the tidy data in both wide and long formats as json files

**Links to the data as Google Sheets** https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit?usp=sharing
- data-dictionary
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=853696630
- Quarterly National Tidy-Wide [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=311186345
- Quarterly National Tidy-Long [last year] - [present year] 
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=119760846
- Monthly [24] States Tidy-Wide [last year] - [present year] 
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=1904881237
- Monthly [24] States Tidy-Long [last year] - [present year] 
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=389230414
- Monthly National Tidy-Wide [last year] - [present year] 
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=2641315
- Monthly National Tidy-Long [last year] - [present year] 
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=175528314
- [24] States [report-month] Tidy-Wide [last year] - [present year] 
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=1499605373
- [24] States [report-month - 1] Tidy-Wide [last year] - [present year] 
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=252676891
- [24] States [report-month] - [report-month - 1] Tidy-Long [last year] - [present year]
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=1544738826
- metadata 
    - https://docs.google.com/spreadsheets/d/1mH_zt_17Jh6oB8DNpwV4TklRgUaifS-4lct5c3iiVF4/edit#gid=591680666

In [52]:
# read in the quarterly data in tidy long format
quarterly_long_df = pd.read_excel(
    io = "dummy-data/milk-prod-data-mart-reqs-1.4.xlsx",
    sheet_name = "quarter-wide-nat-2019-2020"
)
# rearrange the columns in the order they currently exist in the milk report
quarterly_long_df = quarterly_long_df[[
    'Quarter', '2019 Milk Cows', '2020 Milk Cows', '2019 Milk Per Cow', '2020 Milk Per Cow', '2019 Milk Production (lbs)', '2020 Milk Production (lbs)', '2020 Milk Production (lbs) Percent Change from 2019'
]]

In [53]:
quarterly_long_df.astype(
    {col : "int" for col in quarterly_long_df.columns if "perc" not in col.lower()}, 
    errors = 'ignore'
)

,Quarter,2019 Milk Cows,2020 Milk Cows,2019 Milk Per Cow,2020 Milk Per Cow,2019 Milk Production (lbs),2020 Milk Production (lbs),2020 Milk Production (lbs) Percent Change from 2019
0,1,8805000,8834000.0,2010,2033.0,17699000000,17956000000,0.015
1,2,8803000,8848000.0,1833,1925.0,16132000000,17031000000,0.056
2,3,8789000,NaN,2038,NaN,17916000000,18455000000,NaN
3,4,8788000,NaN,1996,NaN,17544000000,17778000000,NaN

In [54]:
quarterly_long_df.rename(columns = {col: 'Sum' for col in quarterly_long_df.columns if '2019' in col})

,Quarter,Sum,2020 Milk Cows,Sum,2020 Milk Per Cow,Sum,2020 Milk Production (lbs),Sum
0,1,8805000,8834000.0,2010,2033.0,17699000000,17956000000,0.015
1,2,8803000,8848000.0,1833,1925.0,16132000000,17031000000,0.056
2,3,8789000,NaN,2038,NaN,17916000000,18455000000,NaN
3,4,8788000,NaN,1996,NaN,17544000000,17778000000,NaN

In [36]:
quarterly_long_df[['2019 Milk Cows', '2019 Milk Per Cow']].sum().to_frame().T

   2019 Milk Cows  2019 Milk Per Cow
0        35185000               7877

In [50]:
agg_df = pd.DataFrame()
agg_df['Annual'] = ['Aggregate']
for col in quarterly_long_df.columns:
    if col not in ('Quarter', '2020 Milk Production (lbs) Percent Change from 2019'):
        agg_df['Sum ' + col] = [quarterly_long_df[col].sum()]

agg_df['Avg 2020 Milk Production (lbs) Percent Change from 2019'] = quarterly_long_df['2020 Milk Production (lbs) Percent Change from 2019'].mean()
agg_df

,Annual,Sum 2019 Milk Cows,Sum 2020 Milk Cows,Sum 2019 Milk Per Cow,Sum 2020 Milk Per Cow,Sum 2019 Milk Production (lbs),Sum 2020 Milk Production (lbs),Avg 2020 Milk Production (lbs) Percent Change from 2019
0,Aggregate,35185000,17682000.0,7877,3958.0,69291000000,71220000000,0.0355

In [31]:


# get data
tidy_df = pd.read_csv("../data-mart-tech-specs/tidy-data.csv")
# cast Year column to string
if 'Year' in tidy_df.columns:
    tidy_df = tidy_df.astype({'Year': 'str'})
    
tidy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 935 non-null    object
 1   Period               935 non-null    object
 2   Milk Cows            931 non-null    float64
 3   Milk Production Lbs  935 non-null    int64
 4   Milk Per Cow         931 non-null    float64
 5   Month                935 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 44.0+ KB

In [32]:
tidy_df.head()

   Year Period  Milk Cows  Milk Production Lbs  Milk Per Cow  Month
0  2020    JAN  9361000.0          18860000000        2015.0      1
1  2020    FEB  9375000.0          17890000000        1908.0      2
2  2020    MAR  9385000.0          19380000000        2065.0      3
3  2020    APR  9375000.0          18675000000        1992.0      4
4  2020    MAY  9360000.0          18955000000        2025.0      5

In [22]:
round(3.13) == 3

True

In [20]:
"3.14".isnumeric()

False

In [4]:
quarterly_long_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Quarter                                              4 non-null      int64
 1   2019 Milk Cows                                       4 non-null      int64
 2   2020 Milk Cows                                       2 non-null      float64
 3   2019 Milk Per Cow                                    4 non-null      int64
 4   2020 Milk Per Cow                                    2 non-null      float64
 5   2019 Milk Production (lbs)                           4 non-null      int64
 6   2020 Milk Production (lbs)                           4 non-null      int64
 7   2020 Milk Production (lbs) Percent Change from 2019  2 non-null      float64
dtypes: float64(3), int64(5)
memory usage: 384.0 bytes

In [6]:
quarterly_long_df

,Quarter,2019 Milk Cows,2020 Milk Cows,2019 Milk Per Cow,2020 Milk Per Cow,2019 Milk Production (lbs),2020 Milk Production (lbs),2020 Milk Production (lbs) Percent Change from 2019
0,1,8805000,8834000.0,2010,2033.0,17699000000,17956000000,0.015
1,2,8803000,8848000.0,1833,1925.0,16132000000,17031000000,0.056
2,3,8789000,NaN,2038,NaN,17916000000,18455000000,NaN
3,4,8788000,NaN,1996,NaN,17544000000,17778000000,NaN

In [8]:
table = []
for index, row in quarterly_long_df.iterrows():
        # init an empty html row
        html_row = []
        for i in range(len(row)):
            
            # handle non-null numeric values
            if type(row[i]) in (float, int):
                html_row.append(
                    
                        # cast numerics to comma separated string expressions for human readability (recall we are casting for HTML copy-pastability into excel which will handle blank strings to null conversion well)
                        f'{row[i]:,}'
                        
                        # decided against the comma business cause it was breaking the copy-past into excel
                        #row[i]
                    
                )
            
            # handle string values
            elif type(row[i]) == str:
                html_row.append(row[i])
            
            # handle nulls (recall we are casting for HTML copy-pastability into excel which will handle blank strings to null conversion well)
            elif pd.isna(row[i]):
                html_row.append('')
            
            # else: try appending whatever is in there and let the errors stack-trace where they may
            else:
                html_row.append(row[i])
                
        table.append(html_row)

In [9]:
table

[[1.0,
  8805000.0,
  8834000.0,
  2010.0,
  2033.0,
  17699000000.0,
  17956000000.0,
  0.015],
 [2.0,
  8803000.0,
  8848000.0,
  1833.0,
  1925.0,
  16132000000.0,
  17031000000.0,
  0.056],
 [3.0, 8789000.0, '', 2038.0, '', 17916000000.0, 18455000000.0, ''],
 [4.0, 8788000.0, '', 1996.0, '', 17544000000.0, 17778000000.0, '']]

In [14]:
numpy.float64

NameError: name 'numpy' is not defined

In [12]:
type(table[0][0])

numpy.float64

In [15]:
str(type(table[0][0]))

"<class 'numpy.float64'>"

In [17]:
str(type(1).)

SyntaxError: invalid syntax (<ipython-input-17-65fe5714482e>, line 1)

In [ ]:
foo_df = pd.DataFrame({'cola':['1', '2', '3'],
                      'colb':[2,4,6]})

In [ ]:
foo_df[(foo_df.cola == '1' or foo_df.cola == '2')]

In [ ]:
quarterly_long_df.columns

In [ ]:
for i, row in quarterly_long_df.iterrows():
    print(i)
    print(row)

In [ ]:
row

In [ ]:
f'{1000.0:,}'

In [ ]:
f'{"foo":,}'

In [ ]:
pd.DataFrame.apply()

In [ ]:
type(3.14)

In [ ]:
type(2)

In [ ]:
str("foo")

In [ ]:
str("3.13").isnumeric()

In [ ]:
type(3.14) in (float, int)

In [ ]:
type(None)

In [ ]:
type(pd.NaT)

In [ ]:
pd.isna(pd.NaT)